* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

body {
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 5000px;
}

/* comon style */

.description {
    font-size: 13px;
    color: #534C64;
    font-weight: 500;
}

.comon-text-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sectioin-heading{
    font-size: 35px;
}

/* header section style */
header {
    margin: 0 auto;
}

/* nav */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    background: white;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-name {
    font-size: 30px;
}

.nav-logo img {
    width: 30%;
}

.logo-title-word {
    color: #FF42A5;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.menu-item {
    color: #3C354F;
    font-size: 13px;
    font-weight: 500;
}

.nav-btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: none;
    padding: 15px;
    height: 35px;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* banner */

.banner {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.banner-description {
    width: 50%;

    background-image: url("./images/Group\ 14.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-banner-description {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.description-title {
    color: #0B0223;
    font-size: 32px;
    font-weight: 600;
}

.goat {
    font-size: 60px;
    font-weight: 800;
}


.banner-img {
    width: 50%;
}

.banner-img img {
    width: 70%;
}

.btn-div {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.sign-in-btn {
    border-radius: 45px;
    border: none;
    background: #FF42A5 100%;
    padding: 13px 30px;
    color: white;
}

.go-rogue-btn {
    border-radius: 45px;
    border: none;
    background: #4EC5F7;
    padding: 13px 30px;
    color: white;
}

/* videos section */

.videos-container {
    width: 75%;
    margin: 100px auto 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.videos {
    display: flex;
    justify-content: center;
    gap: 15px;
    text-align: left;
    margin-top: 18px;
}

.videos img {
    width: 100%;
    border-radius: 5px;
}

figcaption {
    margin-top: 10px;
}

.bangla {
    color: red;
    position: absolute;
    /* display: none; */
}

.hober-btn-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.videos img:hover {
    border: 5px solid #ff42A4;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, );
}

/* gaming section */

.gaming {
    margin: 100px auto 0;
    width: 75%;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.gaming-description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: end;
}

.gaming-heading{
margin-bottom: 15px;
}

.gaming-img {
    width: 50%;

}
.gaming-img-main-div img{
    width: 85%;
}
.mini-img img{
    position: absolute;
    width: 220px;
    margin-top: -200px;
    margin-left: -100px;

}