* {
    margin: 0;

    font-family: 'Work Sans', sans-serif;
}

body {
    max-width: 1400px;
    margin: 0 auto;
}

/* comon style */

.description {
    color: #3C354F;
    font-size: 13px;
    font-weight: 500;
}

/* header section style */
header {
    margin: 0 auto;
}

/* nav */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    background: white;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-name {
    font-size: 30px;
}

.nav-logo img {
    width: 30%;
}

.logo-title-word {
    color: #FF42A5;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;

}

.nav-btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: none;
    padding: 15px;
    height: 35px;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* banner */

.banner {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.banner-description {
    width: 50%;

    background-image: url("./images/Group\ 14.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-banner-description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}

.description-title {
    color: #0B0223;
    font-size: 32px;
    font-weight: 600;
}

.goat {
    font-size: 60px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-list-item {
    font-size: 15px;
    color: #534C64;
    font-weight: 500;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 70%;
}

.btn-div {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.sign-in-btn {
    border-radius: 45px;
    border: none;
    background: #FF42A5 100%;
    padding: 13px 30px;
    color: white;
}

.go-rogue-btn {
    border-radius: 45px;
    border: none;
    background: #4EC5F7;
    padding: 13px 30px;
    color: white;
}